<div class="group">
  <%= form_for(meinevariable) do |f| %>
      <% variable = meinevariable.id.to_s %>
      <input class="picker color {valueElement:'<%= variable %>',hash:true}" />

      <%= f.text_field :name, :class => "textarea searcharea floatleft" %>
      <%= f.submit '', :class=> 'button edittrans without right', :title=>'Edit Group' %><!--hidden colortextfield-->
      <%= f.text_field :colour, :id => meinevariable.id, :class => "displaynone textarea small {hash:true}" %>






  <% end %>
</div>