<div class="group">
  <%= form_for(meinevariable) do |f| %>
      <% variable = meinevariable.id.to_s %>
      <input class="picker color {valueElement:'<%= variable %>',hash:true}" />
      <%= f.text_field :name, :class => "textarea" %>

      <!--hidden colortextfield-->
      <%= f.text_field :colour, :id => meinevariable.id, :class => "displaynone textarea small {hash:true}" %>
      <%= f.submit '', :class=> 'button accept', :title=>'New Group' %>
  <% end %>
</div>