<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <input class="picker color {valueElement:'tfcolour'}" />
    <%= f.text_field :name, :class => "smalltextarea textarea" %>


    <%= f.text_field :colour, :id => "tfcolour", :class => "displaynone textarea small {hash:true}" %>

  <div class="actions">
    <%= f.submit '', :class=> 'button create', :title=>'New Group' %>
  </div>
<% end %>
