<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class => "label" %>
    <%= f.text_field :name, :class => "textarea" %>
  </div>
  <div class="field">
    <%= f.label :description, :class => "label" %>
    <%= f.text_field :description, :class => "textarea" %>
  </div>
  <div class="field">
    <%= f.label :colour, :class => "label" %>
    <div id="myStyle" class="picker"></div>
    <%= f.text_field :colour, :class => "textarea small color {styleElement:'myStyle', hash:true}" %>
  </div>
  <div class="actions">
    <%= f.submit '', :class=> 'button create', :title=>'New Group' %>
  </div>
<% end %>
