<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Id:</b>
  <%= @group.id %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Colour:</b>
  <%= @group.colour %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |

