
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <label class="label" >Username</label></br>
    <%= f.text_field :login, :class=>"textarea" %>
  </div>
  <div class="field">
   <label class="label" >Email</label></br>
    <%= f.text_field :email, :class=>"textarea" %>
  </div>

    <!-- ADMINFIELD  -->
    <% if current_user.admin? %>
      <div class="field">
       <label class="label" >Admin</label></br>
        <%=  f.text_field :admin, :class=>"textarea" %>
      </div>
    <% end %>

     <!-- Adminfield ende -->

  <div class="field">
    <label class="label" >Password</label></br>
    <%= f.password_field :password, :class=>"textarea" %>
  </div>
  <div class="field">
      <label class="label" >Password (confirm)</label></br>
      <%= f.password_field :password_confirmation, :class=>"textarea" %>
    </div>
  <div class="actions">
    <%= f.submit '', :class=> 'button create', :title=>'Save Account' %>
    <script language="Javascript">
            document.writeln("<a href='Javascript:history.back()' name='Back' class='button back' title='Previous Page'></a>");
        </script>
  </div>
<% end %>





<!-- ALTESDOKUMENT
<%#= form_for(@user) do |f| %>
  <%# if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <%# @user.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= f.label :login %><br />
    <%#= f.text_field :login %>
  </div>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.text_field :email %>
  </div>
  <div class="field">
    <%#= f.label :persistence_token %><br />
    <%#= f.text_field :persistence_token %>
  </div>
  <div class="field">
    <%#= f.label :crypted_password %><br />
    <%#= f.text_field :crypted_password %>
  </div>
  <div class="field">
    <%#= f.label :password_salt %><br />
    <%#= f.text_field :password_salt %>
  </div>
  <div class="field">
    <%#= f.label :single_access_token %><br />
    <%#= f.text_field :single_access_token %>
  </div>
  <div class="field">
    <%#= f.label :perishable_token %><br />
    <%#= f.text_field :perishable_token %>
  </div>
  <div class="field">
    <%#= f.label :login_count %><br />
    <%#= f.number_field :login_count %>
  </div>
  <div class="field">
    <%#= f.label :failed_login_count %><br />
    <%#= f.number_field :failed_login_count %>
  </div>
  <div class="field">
    <%#= f.label :last_request_at %><br />
    <%#= f.datetime_select :last_request_at %>
  </div>
  <div class="field">
    <%#= f.label :current_login_at %><br />
    <%#= f.datetime_select :current_login_at %>
  </div>
  <div class="field">
    <%#= f.label :last_login_at %><br />
    <%#= f.datetime_select :last_login_at %>
  </div>
  <div class="field">
    <%#= f.label :current_login_ip %><br />
    <%#= f.text_field :current_login_ip %>
  </div>
  <div class="field">
    <%#= f.label :last_login_ip %><br />
    <%#= f.text_field :last_login_ip %>
  </div>
  <div class="actions">
    <%#= f.submit %>
  </div>
<%# end %>
-->
