<%= form_for(@user) do |f| %>

  <div class="field">
   <label class="label" >Username</label>
    <%= f.text_field :login, :class=>"textarea" %>

   <label class="label" >Email</label>
    <%= f.text_field :email, :class=>"textarea" %>


    <label class="label" >Password</label>
    <%= f.password_field :password, :class=>"textarea" %>

      <label class="label" >Password (confirm)</label>
      <%= f.password_field :password_confirmation, :class=>"textarea" %>
    <span class="floatright">

    <%= f.submit '',:action => :new, :class=> 'button save', :title=>'Create new Account' %>
    </span>
  </div>
<% end %>