<%= render 'appointments/nav' %>

<div id="cont">
  <section class="appointments">
    <h1><%= current_user.login %>'s Account</h1>
  <section class="notify">
    <%= flash[:notice] %>
  </section>

<p> Here you can see into your account data. If you wish to edit your data or change your password, click the Edit button on the bottom of this page</p>



  <div class="field">
    <label class='label'>Username</label>
    <input type=text class="textarea" value="<%= @user.login%>" disabled="disabled"/>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <input type=text class="textarea" value="<%= @user.email %>" disabled="disabled"/>
  </div>

  <div >
    <%= link_to '', edit_user_path(@user), :class=>"button useredit", :title=>"Edit Account" %>
    <script language="Javascript">
            document.writeln("<a href='Javascript:history.back()' name='Back' class='button back' title='Previous Page'></a>");
        </script>
  </div>

  <!-- Friends -->
    <p> </p>
    <br>    <br> <br> <br> <br>


    <h2>Your Friends</h2>
    <ul>
      <% for friendship in @user.friendships %>
      <li>
        <%= h friendship.friend.login %>
        (<%= link_to "remove", friendship, :method => :delete %>)
      </li>
      <% end %>
    </ul>
    <p><%= link_to "Find Friends", friendships_path %></p>



</section>
</div>
<footer>

</footer>


<!--
<p>
  <b>Persistence token:</b>
  <%#= @user.persistence_token %>
</p>

<p>
  <b>Crypted password:</b>
  <%#= @user.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%#= @user.password_salt %>
</p>

<p>
  <b>Single access token:</b>
  <%#= @user.single_access_token %>
</p>

<p>
  <b>Perishable token:</b>
  <%#= @user.perishable_token %>
</p>

<p>
  <b>Login count:</b>
  <%#= @user.login_count %>
</p>

<p>
  <b>Failed login count:</b>
  <%#= @user.failed_login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%#= @user.last_request_at %>
</p>

<p>
  <b>Current login at:</b>
  <%#= @user.current_login_at %>
</p>

<p>
  <b>Last login at:</b>
  <%#= @user.last_login_at %>
</p>

<p>
  <b>Current login ip:</b>
  <%#= @user.current_login_ip %>
</p>

<p>
  <b>Last login ip:</b>
  <%#= @user.last_login_ip %>
</p>
-->
