<%= form_for(@friendship) do |f| %>


  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>

    <%= f.label :friend_id %>
    <%= f.number_field :friend_id %>

    <%= f.label :status %>
    <%= f.text_field :status %>
    <span class="floatright">
        <%= f.submit '', :action => :new, :class=> 'button create', :title=>'Save friendship' %>
    </span>

  </div>
<% end %>
