<section class="Friendships">
    <h1><%= current_user.login %>'s Friends</h1>

    <%= render :partial => 'friendships/friends' %>

    <%= link_to 'Find new Friends',friendship_path(current_user) %>

    <h4>Requested Friends: </h4>
    <%= render :partial => 'friendships/requested_friends' %>
    <h4>Pending Friends:  </h4>
    <%= render :partial => 'friendships/pending_friends' %>
</section>