<%= render 'friendships/nav' %>
<section class="Friendships">
    <h1><%= current_user.login %>'s Friends</h1>

    <%= render :partial => 'friendships/friends' %>

       <br />
    <%= link_to 'Find new Friends',friendship_path(current_user) %>

    <h2>Requested Friends: </h2>
    <%= render :partial => 'friendships/requested_friends' %>
    <h2>Pending Friends:  </h2>
    <%= render :partial => 'friendships/pending_friends' %>

    <div >
        <script language="Javascript">
                document.writeln("<a href='Javascript:history.back()' name='Back' class='button back' title='Previous Page'></a>");
            </script>
    </div>
</section>
