
    <h1><%= current_user.login %>'s Friends</h1>
    <div>
        <%= render :partial => 'friendships/friends' %>
    </div>
    <div>
        <%= link_to 'Find new Friends',friendship_path(current_user) %>
    </div>
    <div>
    <h4>Requested Friends: </h4>
        <%= render :partial => 'friendships/requested_friends' %>
        </div>
    <div>
        <h4>Pending Friends:  </h4>
        <%= render :partial => 'friendships/pending_friends' %>
    </div>
