<%= form_for(@friendship_appointment) do |f| %>


  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>

    <%= f.label :appointment_id %>
    <%= f.number_field :appointment_id %>

    <%= f.label :shared_friend_id %>
    <%= f.number_field :shared_friend_id %>
    <span class="floatright">
        <%= f.submit '', :action => :new, :class=> 'button create', :title=>'Save Friend' %>
    </span>
  </div>
<% end %>
