<%= form_for(@friendship_appointment) do |f| %>
  <% if @friendship_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship_appointment.errors.count, "error") %> prohibited this friendship_appointment from being saved:</h2>

      <ul>
      <% @friendship_appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>

    <%= f.label :appointment_id %>
    <%= f.number_field :appointment_id %>

    <%= f.label :shared_friend_id %>
    <%= f.number_field :shared_friend_id %>
    <%= f.submit %>
  </div>
<% end %>
