<header>
  <% if not current_page? :controller => 'calendar', :action => 'index' %>
  <div id="navbar">

    <div class="navleft">
      <ul>
       <% if current_user %>
          <li><h1><%= link_to "#{current_user.login}'s Agenda", appointments_path, :class => "title" %></h1></li>
       <% else %>
          <li><h1>Agenda </h1></li>
       <% end %>
      </ul>
    </div>
    <div class="navright">

        <% if current_user %>

            <% if current_user.admin? %>
              <%= link_to '',  users_path, :class=> 'button users', :alt => 'Users', :title => 'Users' %>
            <% end %>
            <a id="btSettings" class='button settings left' href="#" title="Settings"></a>
            <%= link_to '', :logout, :class=> 'button logout right', :alt => 'Logout', :title => 'Logout'%>
        <% else %>

            <%= link_to "Login", login_path + "#tabs-1"  , :class=> '', :alt => 'Login', :title => 'Login'%>
            <%= link_to "Register", login_path + "#tabs-2"  , :class=> '', :alt => 'Sign up', :title => 'Sign up' %>
        <% end %>
    </div>
  </div>

  <%= render :partial => "header/settings" %>


   <% end %>
</header>