<h1>Listing termines</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @termines.each do |termine| %>
  <tr>
    <td><%= termine.date %></td>
    <td><%= termine.note %></td>
    <td><%= link_to 'Show', termine %></td>
    <td><%= link_to 'Edit', edit_termine_path(termine) %></td>
    <td><%= link_to 'Destroy', termine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Termine', new_termine_path %>
