<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Date</label>
    <%= f.text_field :start_at, class: 'textarea' %>
    <%= f.text_field :end_at, class: 'textarea' %>

    <label for="note" class="label">Note</label>
    <%= f.text_area :note, class: 'textarea', :cols => "50", :rows => "5" %>

    <label for="priority_number" class="label">Priority</label>
    <div id="priority_number_slider"></div>
    <%= f.text_field :priority_number, id: "priority_number", class: "displaynone" %>
    <!--<#%= f.select(:priority_number, options_for_select([[0,0],[1,1],[2,2],[3,3]]), {}, {:class => "drop"}) %>-->

    <label class="label">Group</label>
    <%#= f.collection_select(:colour, @groups, :colour, :name, options={}, :class=> 'drop') %>
    <%= f.collection_select(:group_id, @groups, :id, :name, options={}, :class=> 'drop') %>

    <!-- Shared Friends -->
    <% unless current_user.friends.blank?%>
         <label class="label">Share With Friends</label>
        <% @appointment %>
        <% current_user.friends.each do |friend| %>
            <ul>
              <%= check_box_tag 'friendshare[]', friend.id , @appointment.friend_clicked?(friend.id)   %>
              <%#check_box_tag 'appointment[shared_friend_ids][]', friend.id,f.friendship_appointments.include?(friend.id), current_user.shared_friends.include?(friend), @appointment.friends.include?(friend),:name => 'appointment[friend_ids][]' %>
              <%= friend.login -%> <%#= friend.id -%>
            </ul>
          <% end %>
     <% end %>
  </div>


    <%= f.submit '', :action => :new, :notice => 'Appointment in form', :class=> 'button create', :title=>'Save Appointment' %>
   <%# <%= render 'erstellt' %>

<% end %>