<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="date" class="label">Date</label></br>
    <%= f.datetime_select :date, {:order => [:day, :month, :year], :default => 24.hours.from_now, :minute_step => 15}, {:class => 'drop'}%>
  </div>
  <div class="field">
    <label for="note" class="label">Note</label></br>
    <%= f.text_area :note, class: 'textarea', :cols => "50", :rows => "5" %>
  </div>
  <div class="field">
    <label for="priority_number" class="label">Priority</label></br>
    <input type="range" id="priority_number" max="5" min="1" name="appointment[priority_number]" size="50" value="3" />
    <!--<%= f.select(:priority_number, options_for_select([[0,0],[1,1],[2,2],[3,3]]), {}, {:class => "drop"}) %>-->
  </div>
  <div class="field">
    <label class="label">Group</label></br>

    <%=
    collection_select(:group, :name, @groups, :id, :name, options ={}, :class => "drop" )
    %>

  </div>
    <%= f.submit '', :action => :new, :notice => 'Appointment in form', :class=> 'button create', :title=>'Save Appointment' %>
   <%# <%= render 'erstellt' %>

<% end %>