<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Date</label>
    <%= f.text_field :date, class: 'textarea' %>

    <label for="note" class="label">Note</label>
    <%= f.text_area :note, class: 'textarea', :cols => "50", :rows => "5" %>

    <label for="priority_number" class="label">Priority</label>

    <div id="priority_number" name="appointment[priority_number]"></div>
    <!--<#%= f.select(:priority_number, options_for_select([[0,0],[1,1],[2,2],[3,3]]), {}, {:class => "drop"}) %>-->

    <label class="label">Group</label>
    <%#= f.collection_select(:colour, @groups, :colour, :name, options={}, :class=> 'drop') %>

    <%= f.collection_select(:group_id, @groups, :id, :name, options={}, :class=> 'drop') %>

  </div>

    <%= f.submit '', :action => :new, :notice => 'Appointment in form', :class=> 'button create', :title=>'Save Appointment' %>
   <%# <%= render 'erstellt' %>

<% end %>