<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, class: 'label' %><br />
    <%= f.datetime_select :date, {:order => [:day, :month, :year], :default => 24.hours.from_now, :minute_step => 15}, {:class => 'drop'}%>


  </div>
  <div class="field">
    <%= f.label :note, class: 'label' %><br />
    <%= f.text_area :note, class: 'textarea', :cols => "50", :rows => "5" %>
  </div>
  <div class="field">
    <%= f.label :priority, class: 'label' %><br />
    <input id="priority_number" max="5" min="1" name="appointment[priority_number]" size="50" type="range" value="3" />
    <!--<%= f.select(:priority_number, options_for_select([[0,0],[1,1],[2,2],[3,3]]), {}, {:class => "drop"}) %>-->
  </div>

   <div class="field">
    <%= f.label :group, class: 'label' %><br />
    <%= f.select(:group, options_for_select([["Keine Gruppe",0],["Gruppe 1",1],["Gruppe 2",2],["Gruppe 3",3]]), {}, {:class => "drop"}) %>
  </div>


    <%= f.submit 'Create Appointment', :action => :new, :notice => 'Appointment in form', :class=> 'button create' %>
   <%# <%= render 'erstellt' %>

<% end %>