<header>

  <div id="navbar">

    <ul class='info'>
      <li><%= link_to ( image_tag('/images/calendar.png')), appointments_path, :class => 'logo' %></li>
      <li>Today: <%= Time.now.strftime('%A, %d. %B %Y')%></li>

   </ul>

    <ul>
         <li>  <%= render :partial => 'appointments/search' %> </li>
        <li>

          <input type='submit' id="settingsButton" class='button settings' title='Settings' name="group" value="" onclick="javascript:DivEinAusblenden('settings');"/></li>

        <% if current_user %>

           <% if current_user.admin? %>
              <li><%= link_to '',  users_path, :class=> 'button users left', :alt => 'Users', :title => 'Users' %></li>
           <% end %>
        <li><%= link_to '',  user_path(current_user.id), :class=> 'button userinfo middle', :alt => 'My Account', :title => 'My Account' %></li>
        <li><%= link_to '', :logout, :class=> 'button logout right', :alt => 'Logout', :title => 'Logout'%>
          <% else %>

        <%= link_to "", new_user_path, :class=> 'button useradd left', :alt => 'Register', :title => 'Register'%>
        <%= link_to "", :login, :class=> 'button login right', :alt => 'Login', :title => 'Login' %>
        <% end %></li>

    </ul>
  </div>
</header>