<div id="tabs" class="noJquerycss">
        <ul class="noJquerycss">
              <li class= "noJquerycss"><a href="#tabs-1" class="button list left" title="List View"></a></li>
              <li class= "noJquerycss"><a href="#tabs-2" class="button calendar right" title="Calendar View"></a></li>

              <li class= "noJquerycss"><a class="button more" src="hideNote" type="text/javascript" onClick="FadeContent('reminder'); return true;" href="#" title="Show/Hide Today's Appointments"></a></li>
              <li class= "noJquerycss"><a class="button add" href="#" title="Add New Appointment" id='btAddNewAppointment'></a></li>

              <li class= "noJquerycss daytime"><h4><%= Time.now.strftime('%A, %d. %B %Y')%></h4></li>
              <li class= "noJquerycss floatright"><%= render :partial => 'appointments/search' %></li>

        </ul>
        <div id="reminder"  class="reminder" src="hideNote" type="text/javascript" language="JavaScript" >
            <ul>
                <% @appointments.reverse.each do |appointment| %>
                    <% if appointment.start_at.strftime('%y%m%d') == Time.now.strftime('%y%m%d') && appointment.start_at.strftime('%H') > Time.now.strftime('%H')%>
                    <li><%= appointment.start_at.strftime('%H:%M') + " – " %><%= link_to truncate(appointment.note.to_s, :length => 90, :separator => ' ') , appointment, :popup=> true, :title=>"Show more" %></li>
                    <% end %>
                <% end %>
            </ul>

        </div>



        <!-- <div class="reminderFader">
            <div><a class="button more" src="hideNote" type="text/javascript" language="JavaScript" onClick="FadeContent('reminder'); return true;" href="#" title="Today's Appointments"></a></div>
        </div>          -->



	<div id="tabs-1">
		<table class="pretty">

  <thead>
    <th class="group"></th>
    <th><%= sortable "start_at","Date" %></th>
    <th><%= sortable "note","Note" %></th>
    <th><%= sortable "priority_number","Priority" %></th>
    <th>Friend</th>
    <!--ADMINFIELD -->
    <% if current_user.admin? %>

        <th><%= sortable "ID", "ID"%></th>
        <th><%= sortable "user_id","User ID" %></th>
    <% end %>
    <th></th>

     <!-- Adminfield ende -->

  </thead>
  <tbody>
<% @appointments.each do |appointment| %>

    <tr>

    <td class="group" style="background-color: <%= appointment.group.colour %>"></td>
    <td><%= appointment.start_at.strftime('%d.%m.%y %H:%M') %></td>
    <td><%= appointment.note %></td>
    <td><%= appointment.priority_number %></td>
    <td><%= render :partial => 'appointments/friendshares', :locals => {:appointment => appointment} %></td>
    <!---->
    <% if current_user.admin? %>

        <td><%= appointment.id %></td>
        <td><%= appointment.user_id %></td>
    <% end %>

     <!-- Adminfield ende -->


    <td class="tdtools">
      <!-- # User kann nur seine eigenen appointments editieren #-->
       <%#if current_user.id == appointment.user_id || current_user.admin? %>
          <%= link_to '', edit_appointment_path(appointment), class: 'button left edit', title: 'Edit Appointment'  %>
          <%= link_to '', appointment, confirm: 'Are you sure?', method: :delete, class: 'button right delete', title: 'Delete Appointment' %>
       <%# end%>
    </td>
  </tr>
<% end %>
    </tbody>
</table>
    </div>
	<div id="tabs-2">
      <%= raw(event_calendar) %>
    </div>
</div>