<%= render 'appointments/nav' %>

<div id="cont">
	<section class="appointments">


	    <h4><%= Time.now.strftime('%A, %d. %B %Y')%></h4>
		   <div id="reminder"  class="reminder" src="hideNote" type="text/javascript" language="JavaScript" >
				<ul>
					<% @appointments.reverse.each do |appointment| %>
						<% if appointment.start_at.strftime('%y%m%d') == Time.now.strftime('%y%m%d') && appointment.start_at.strftime('%H') > Time.now.strftime('%H')%>
						<li><%= appointment.start_at.strftime('%H:%M') + " – " %><%= link_to truncate(appointment.note.to_s, :length => 90, :separator => ' ') , appointment, :popup=> true, :title=>"Show more" %></li>
						<% end %>
					<% end %>
				</ul>

			</div>
			<div class="reminderFader">
				<div><a class="button more" src="hideNote" type="text/javascript" language="JavaScript" onClick="FadeContent('reminder'); return true;" href="#" title="Today's Appointments"></a></div>
			</div>
			<div class="searchright">
				<%= render :partial => 'appointments/search' %>
			</div>




  <div id="tabs">
	<ul>
		<li><a href="#tabs-1">List</a></li>
		<li><a href="#tabs-2">Calendar</a></li>
	</ul>
	<div id="tabs-1">
		<table class="pretty">

  <thead>
    <th class="group"></th>
    <th><%= sortable "start_at", "Date" %></th>
    <th><%= sortable "note","Note" %></th>
    <th><%= sortable "priority_number","Priority" %></th>
    <th>Friend</th>
    <!--ADMINFIELD -->
    <% if current_user.admin? %>
        <th>Group ID</th>
        <th><%= sortable "ID", "ID"%></th>
        <th><%= sortable "user_id","User ID" %></th>
    <% end %>

     <!-- Adminfield ende -->

  </thead>
  <tbody>
<% @appointments.each do |appointment| %>

    <tr>

    <td class="group" style="background-color: <%= appointment.group.colour %>"></td>
    <td><%= appointment.start_at.strftime('%d.%m.%y %H:%M') %></td>
    <td><%= appointment.note %></td>
    <td><%= appointment.priority_number %></td>
    <td><%= render :partial => 'appointments/friendshares', :locals => {:appointment => appointment} %></td>
    <!---->
    <% if current_user.admin? %>
        <td><%= appointment.group_id%></td>
        <td><%= appointment.id %></td>
        <td><%= appointment.user_id %></td>
    <% end %>

     <!-- Adminfield ende -->

    <td></td>
    <td class="tdtools">
      <!-- # User kann nur seine eigenen appointments editieren #-->
       <%#if current_user.id == appointment.user_id || current_user.admin? %>
          <%# link_to '', edit_appointment_path(appointment), class: 'button left edit', title: 'Edit Appointment'  %>
          <%# link_to '', appointment, confirm: 'Are you sure?', method: :delete, class: 'button right delete', title: 'Delete Appointment' %>
       <%# end%>
         <%# if current_user %>

        <%# if current_user.admin? %>

            <%#= link_to 'New User', new_user_path %>

        <%# end %>

    <%# end %>
    </td>
  </tr>
<% end %>
    </tbody>
</table>
    </div>
	<div id="tabs-2">
        <!--<#%= render :partial => 'calendar/index' %>-->
    </div>
</div>

  <div class="padded-body">
  <h2>Generate and Download Sample XML Document</h2>

  <div style="text-align: center;">
    <%=link_to "download all in index", :action => "generate_with_rexml" %>

  </div>
</div>
</section>

<section class="newappointment">
<h4>New Appointment</h4>
   <div class="formular">

        <%= render 'form' %>
</div>
    <section class="notify">
        <%= flash[:notice] %>
    </section>
</section>

</div>
