<%= render 'appointments/nav' %>
<div id="settings">
  <div id="groups">
    <!--
       <table>
  <tr>
    <th>Name</th>
    <th>Id</th>
    <th>Description</th>
    <th>Colour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table> -->
  </div>

</div>
<div id="cont">
<section class="appointments">
   <h1><%= current_user.login %>'s Agenda</h1>
  <section class="notify">
  <%= flash[:notice] %>
    </section>
  <br>
    <section class="reminder">
      <% @appointments.each do |appointment| %>
      <% String st = appointment.date.strftime('%d.%m.%y') %>
            <% if st == Time.now.strftime('%d.%m.%y') %>

              <tr>

                 <td> <br> &nbsp; &nbsp; &nbsp; Appointments for today:</td>
                 <td><% String s =  appointment.note %></td>
                 <%= link_to "", appointment, :class=> 'button left add', :popup=> true, :title=>"Show more" %>
                 <td class="group <%=appointment.group  %>"></td>
                 <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%=  appointment.date.strftime('%d.%m') %></td>
                 <td> &nbsp; &nbsp; &nbsp; <%=  s[0..30] + "..." %>  <br></td>
              </tr>
              <% end %>
       <% end %>
  </section>
<table class="pretty">
  <thead>
    <th></th>
    <th><%= sortable "date" %></th>
    <th><%= sortable "note","Note" %></th>
    <th><%= sortable "priority_number","Priority" %></th>
    <th></th>

  </thead>
  <tbody>
<% @appointments.each do |appointment| %>

    <tr>
    <td class="group <%=appointment.group  %>"></td>
    <td><%= appointment.date.strftime('%d.%m.%y %H:%M') %></td>
    <td><%= appointment.note %></td>
    <td><%= appointment.priority_number %></td>
    <td class="tdtools">
      <%= link_to '', edit_appointment_path(appointment), class: 'button left edit', title: 'Edit Appointment'  %>
      <%= link_to '', appointment, confirm: 'Are you sure?', method: :delete, class: 'button right delete', title: 'Delete Appointment' %>
    </td>
  </tr>
<% end %>
    </tbody>
</table>
</section>






<section class="newappointment">
<h1>New Appointment</h1>
   <div class="formular">

        <%= render 'form' %>
</div>
</section>
</div>
<footer>

</footer>
