<h1>Agenda</h1>

<table>
  <tr>

    <th><%= sortable "date" %></th>
    <th>Note</th>

    <th><%= sortable "priority_number","Priority" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr class='spalte'>
    <td><%= appointment.date %></td>
    <td><%= appointment.note %></td>
    <td><%= appointment.priority_number %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h1>New appointment</h1>

<%= render 'form' %>

<br />

<%= link_to 'New Appointment', new_appointment_path %>

