<%= render 'appointments/nav' %>

<div id="cont">
	<section class="appointments">


	    <h4><%= Time.now.strftime('%A, %d. %B %Y')%></h4>
		   <div id="reminder"  class="reminder" src="hideNote" type="text/javascript" language="JavaScript" >
				<ul>
					<% @appointments.reverse.each do |appointment| %>
						<% if appointment.date.strftime('%y%m%d') == Time.now.strftime('%y%m%d') && appointment.date.strftime('%H') > Time.now.strftime('%H')%>
						<li><%= appointment.date.strftime('%H:%M') + " – " %><%= link_to truncate(appointment.note.to_s, :length => 90, :separator => ' ') , appointment, :popup=> true, :title=>"Show more" %></li>
						<% end %>
					<% end %>
				</ul>

			</div>
			<div class="reminderFader">
				<div><a class="button more" src="hideNote" type="text/javascript" language="JavaScript" onClick="FadeContent('reminder'); return true;" href="#" title="Today's Appointments"></a></div>
			</div>
			<div class="searchright">
				<%= render :partial => 'appointments/search' %>
			</div>





  <table class="pretty">

  <thead>
    <th class="group"></th>
    <th><%= sortable "date" %></th>
    <th><%= sortable "note","Note" %></th>
    <th><%= sortable "priority_number","Priority" %></th>
    <!--ADMINFIELD -->
    <% if current_user.admin? %>
        <th>Group ID</th>
        <th><%= sortable "ID", "ID"%></th>
        <th><%= sortable "user_id","User ID" %></th>
    <% end %>

     <!-- Adminfield ende -->

  </thead>
  <tbody>
<% @appointments.each do |appointment| %>

    <tr>

    <td class="group" style="background-color: <%= appointment.group.colour %>"></td>
    <td><%= appointment.date.strftime('%d.%m.%y %H:%M') %></td>
    <td><%= appointment.note %></td>
    <td><%= appointment.priority_number %></td>
    <!---->
    <% if current_user.admin? %>
        <td><%= appointment.group_id%></td>
        <td><%= appointment.id %></td>
        <td><%= appointment.user_id %></td>
    <% end %>

     <!-- Adminfield ende -->

    <td></td>
    <td class="tdtools">
      <!-- # User kann nur seine eigenen appointments editieren #-->
       <% if current_user.id == appointment.user_id || current_user.admin? %>
          <%= link_to '', edit_appointment_path(appointment), class: 'button left edit', title: 'Edit Appointment'  %>
          <%= link_to '', appointment, confirm: 'Are you sure?', method: :delete, class: 'button right delete', title: 'Delete Appointment' %>
       <% end%>
    </td>
  </tr>
<% end %>
    </tbody>
</table>
</section>






<section class="newappointment">
<h4>New Appointment</h4>
   <div class="formular">

        <%= render 'form' %>
</div>
    <section class="notify">
        <%= flash[:notice] %>
    </section>
</section>

</div>
