<section>

  <div class = "field">
        <label for="date" class="label">Date</label>
        <input type="text" disabled="disabled" value="<%= @appointment.start_at.strftime('%d. %m. %Y %H:%M') %>">
        <input type="text" disabled="disabled" value="<%= @appointment.end_at.strftime('%d. %m. %Y %H:%M') %>">
        <label for="note" class="label">Note:</label>
        <input type="text" disabled="disabled" value="<%= @appointment.note %>">


        <h4>Generate and Download XML Document</h4>

           <%=link_to "Download as xml", :action => "send_xml_file_single" %>
           <%=link_to "Show as xml", :action => "show_with_xml_single" %>
            <%=link_to "Download ALL xml", :action => "send_xml_file" %>
            <%=link_to "Download for Outlook", :action => "outlook_csv" %>



       <%#= form_tag({:action => 'upload'}, :multipart => true )%>


           <%#= file_field("appointment","xml_file") %>
           <%#= submit_tag("Parse with REXML") %>


        <%#= render :partial => 'appointments/xml', :locals => {:apps => @appointment} %>

     <%#= form_tag({:action => 'upload', :id => @appointment}, :multipart => true) %>
     <%#= file_field("appointment", "report")  %>
     <%#= submit_tag("upload au dBuch")%>


</div>

</section>