<%= form_for(@user_session) do |f| %>


  <div class="field">
    <label class="label" ></label>
    <%= f.label "Username", class: 'label' %>
    <%= f.text_field :login, class: 'textarea' %>

    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, class: 'textarea' %>
    <div><%= link_to "Forgot Password?",'', :id => 'forgetpw_link' %></div>
    <span class="buttonsfloat">
         <%= f.submit '', :class=> '', :title=>'New Group' %>
      </span>

  </div>

<% end %>
