<%= form_for(@user_session) do |f| %>


  <div class="field">
    <%= f.label "Username", class: 'label' %>
    <%= f.text_field :login, class: 'textarea' %>

    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, class: 'textarea' %>

    <%= link_to "Forgot Password?", :controller => 'password_resets', :action => 'new' %>
    <span class="floatright">
        <%= f.submit '', :action => :new, :notice => 'Appointment in form', :class=> 'button create login left', :title=>'Login'  %>
        <%= link_to "", new_user_path, :class=> 'button useradd right', :alt => 'Register', :title => 'Register'%>
    </span>
  </div>
<% end %>
