<%= render 'nav' %>
<div id="cont">

  <section class="forgotPassword">


        <h1>Forgot Password</h1>
        <p>
          <% if !flash[:notice].nil? %>
            <%= flash[:notice] %>
          <% else %>
            Please enter the email address you used to register.
          <% end %>
        </p>
        <%= form_for(@user_session)  do |f| %>
            <% if @user_session.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

              <ul>
              <% @user_session.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

         <div class="field">
            <%= f.label "Email", class: 'label' %>
            <%= f.text_field :email, :class=>"textarea" %>
         </div>

          <div class="actions">
            <%= f.submit "", :action => :forgot_password, :notice => 'Send Password Reset Link', :class=> 'button create', :title=>'Password Reset'  %>
          </div>

        <% end %>
  </section>
</div>
<footer>

</footer>

