<!DOCTYPE html>
<html>
<head>
  <title>Terminplaner</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/javascripts/jscolor/jscolor.js"></script>
  <link type="text/css" href="css/smoothness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){

				// Datetimepicker


                $('#appointment_start_at').datetimepicker(
                {firstDay: 1,
                dateFormat: 'dd.mm.yy',
	            timeFormat: 'hh:mm',
	            stepMinute: 15});

                <!--$('#appointment_start_at').datetimepicker( "setDate" , +7 );-->

                //slider
                $( "#priority_number" ).slider(
                {max: 5,
                min: 1,
                animate: true,
                value: 3});

                //autocomplete
                var availableTags = [
                ];
                $( "#search_field" ).autocomplete({
                    source: availableTags
                });


         //dialog
		$( "#Settings" ).dialog({
			autoOpen: false,
			height: 300,
			width: 350,
			modal: true
		});

		$( "#btSettings" )
			.button()
			.click(function() {
				$( "#Settings" ).dialog( "open" );
			});

		$( "#tabs" ).tabs();

        });
        $(function(){
            $('#appointment_start_at').datetimepicker( "setDate" , +1 );
        });
        </script>

</head>
<body>
    <div id="wrap" >
        <%= yield %>
        <footer>
         <%= link_to "MOBILE SITE", :controller => "application", :action => "set_layout", :mobile => "1" %>
         <%#= link_to "MOBILE SITE2", :controller => "user_session", :action => "set_layout", :mobile => "1" %>
        </footer>
    </div>

</body>

</html>
