<!DOCTYPE html>
<html>
<head>
  <title>Terminplaner</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
    <div id="wrap" >
        <%= render 'header/nav' %>
        <div id="cont">
        <%= yield %>
        </div>
        <%= render 'footer/foot' %>
    </div>

</body>

</html>
