<!DOCTYPE html>
<html>
<head>
  <title>YAGENDA - Remembers everything you can't!</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

      <% if current_user %>
          <div id="wrap" >
       <% else %>
          <div id="wraplogin">
       <% end %>
        <%= render 'header/nav' %>
        <div id="cont">
          <div class="centered">
            <section>
                <%= yield %>
            </section>
          </div>
        </div>
        <%= render 'footer/foot' %>
    </div>

</body>

</html>
