<!DOCTYPE html>
<html>
<head>
  <title>Terminplaner</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/javascripts/jscolor/jscolor.js"></script>

</head>
<body>
    <div id="wrap" >
        <%= yield %>
        <footer>
         <%= link_to "MOBILE SITE",:action => "about", :mobile => "1" %>
          <%= link_to "MOBILE SITE2", :controller => "user_session", :action => "set_layout", :mobile => "1" %>
        </footer>
    </div>

</body>

</html>
